h3 {
  text-align: center;
}

.order-content {
  height: 50px;
  text-align: center;
}

.description {
  font-weight: bold;
  margin-right: 20px;
}

.price {
  color: #4caf50;
  font-weight: bold;
}

mat-list-item {
  margin-bottom: 8px;
}